/* @import url("https://fonts.googleapis.com/css?family=Muli|Source+Code+Pro"); */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  border: none;
  outline: none;
  text-decoration: none;
  /* text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

:root {
  --text: #000000;
  --background: #9d977b;
  --background-secondary: #2a3646;
  --background-primary: #131920;
  --primary: #f9a23f;
  --secondary: #f7a08d;
  --accent: #ff8fc8;
}

html {
  font-size: 70%;
  line-height: 1.6;
  overflow-x: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: var(--background);
}

ul {
  list-style: none;
}

nav {
  z-index: 11;
}

section {
  padding: 2rem 5%;
}

button,
.btn {
  cursor: pointer;
  background: var(--primary);
  color: #fff;
  padding: 0.4rem 2rem;
  width: 9rem;
  height: 4rem;
  font-weight: bold;
  border-radius: 8px;
  &:hover {
    background-color: #131920;
    border: 2px solid var(--primary);
  }
}

/* about section 1 */

.aboutsection1 {
    /* padding-left: 4.5rem; */
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  width: 100%;
  background: var(--primary);
  color: var(--background-secondary);
}

.aboutsection1 .box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 40%;
  /* padding-left: 4.5rem; */

}

.aboutsection1 .box2 {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 4.5rem;
  flex: 1 1 60%;
}

.aboutsection1 .box1 h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.aboutsection1 .box1 p {
  max-width: 40rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.aboutsection1 .box2 .img__box {
  width: 100%;
  height: 41rem;
  margin-top: -3.1rem;
  margin-left: 15.7rem;
  display: block;
}

.aboutsection1 .box2 .img__box img {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  object-fit: contain;
}

/* about section 2 */

.aboutsection2 {
  margin-top: -3.2rem;
  display: flex;
  flex-direction: column;
  background: var(--background-secondary);
  gap: 11rem;
  padding: 2rem 5%;
}

.aboutsection2 .topbox {
  margin-top: 6rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
  flex: 1 1 22rem;
}
.aboutsection2 .topbox div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutsection2 .topbox p {
  max-width: 26rem;
  color: #ccc;
  font-size: 1.6rem;
}

.aboutsection2 .topbox p span {
  font-weight: bold;
  color: #000;
}

.aboutsection2 .topbox img {
  display: block;
  width: 20rem;
  height: 15rem;
  margin-bottom: 2rem;
}

.aboutsection2 .bottombox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aboutsection2 .bottombox .box1 {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 35%;
  margin-bottom: 2rem;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: #ccc;
}

.aboutsection2 .bottombox .box1 h1 {
  font-size: 2.9rem;
  margin-bottom: 2rem;
  color: #000;
}

.aboutsection2 .bottombox .box1 p {
  font-size: 1.4rem;
  max-width: 29rem;
  margin-bottom: 4rem;
}

.aboutsection2 .bottombox .box1 button {
  width: 15rem;
  height: 6rem;
  margin-bottom: 4rem;
}

.aboutsection2 .bottombox .box2 {
  flex: 1 1 65%;
  height: 50rem;
}

.aboutsection2 .bottombox .box2 img {
  width: 100%;
  height: 80%;
}

/* About section 3 */

.aboutsection3 {
  background: var(--background-primary);
  align-items: center;
  justify-content: center;
  color: #ccc;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  flex: 1 1 38rem;
  padding: 4rem 5%;
}

.aboutsection3 h1 {
  font-size: 2.5rem;
  background: var(--background-primary);
  padding: 1rem;
  margin-bottom: 2rem;
  color: var(--primary);
  border-radius: 1rem;
}

.aboutsection3 p {
  font-size: 1.4rem;
  max-width: 36rem;
}

.aboutsection3 div {
  margin-top: 3rem;
  background: var(--background-secondary);
  height: 27rem;
  padding: 2rem;
  border-radius: 1rem;
}

/* about section 4 */

.aboutsection4 {
  background-color: var(--background-secondary);
  display: flex;
  padding-right: 0.5rem;
  gap: 5rem;
  color: #ccc;
  padding-left: 5%;
}

.aboutsection4 .box1 li {
  margin-bottom: 1rem;
}

.aboutsection4 .box1 li  span {
    color: var(--primary);
}

.aboutsection4 .box1 ul {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.aboutsection4 h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.aboutsection4 .box1 {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.aboutsection4 .box1 button {
  width: 15rem;
  margin-bottom: 3rem;
}

.aboutsection4 .box2 {
  flex: 1 1 65%;
  margin-top: -2rem;
}

.aboutsection4 .box2 img {
  height: 104%;
  width: 100%;
  opacity: 0.8;
}

/* about section 5 */

.aboutsection5 {
    background-color: var(--background);
}

.aboutsection5 h1 {
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 2rem;
  font-size: 2.7rem;
  color: var(--background-secondary);
}

.aboutsection5 .innerbox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;
}

@media (max-width: 760px) {
  section {
    padding: 2rem;
  }

  .aboutsection1 {
    flex-direction: column;
    gap: 3rem;
  }

  .aboutsection1 .box1 {
    order: 2;
  }

  .aboutsection1 .box1 h1 {
    font-size: 2.5rem;
  }

  .aboutsection1 .box1 p {
    font-size: 1.5rem;
  }

  .aboutsection1 .box2 {
    padding: 0;
    margin-top: 2rem;
    padding-left: 2.5rem;
  }

  .aboutsection1 .box2 .img__box {
    margin: 0;
    margin-top: -2.2rem;
    margin-left: -4.5rem;
    width: 100vw;
    height: 100%;
  }

  .aboutsection1 .box2 .img__box img {
    width: 100%;
    height: 100%;
    opacity: 0.6;
  }

  .aboutsection2 {
    margin-top: 0rem;
  }

  .aboutsection2 .topbox {
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
  }

  .aboutsection2 .bottombox {
    flex-direction: column;
    justify-content: space-between;
  }

  .aboutsection2 .bottombox .box1 {
    align-items: center;
    text-align: center;
  }

  .aboutsection2 .bottombox .box2 img {
    width: 100%;
    height: 100%;
  }

  .aboutsection3 {
    gap: 2rem;
  }

  .aboutsection3 h1 {
    text-align: center;
    font-size: 2.3rem;
  }

  .aboutsection2 .bottombox .box1 button {
    width: 14rem;
    height: 5rem;
  }

  .aboutsection4 {
    flex-direction: column;
  }

  .aboutsection4 h1 {
    margin-top: 5rem;
  }

  .aboutsection4 .box1 button {
    margin-bottom: 3rem;
  }

  .aboutsection5 .innerbox {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8rem;
  }

  
}


@media (max-width: 480px) {
  
    .aboutsection1 .box1 p {
        font-size: 1.3rem;
        max-width: 44rem;
      }

      .aboutsection1 .box1 {
        margin-left: -1rem;
      }

      .aboutsection2 {
        gap: 8rem;
      }

      .aboutsection2 .topbox {
        margin-top: 3rem;
      }
    

      .aboutsection2 .topbox p {
        font-size: 1.3rem;
      }
    
      .aboutsection2 .bottombox {
        display: flex;
        gap: 5rem;

    }
      

}

@media (min-width: 320px) and (max-width: 460px) {

}
