*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  scroll-behavior: smooth;
  border: none;
  outline: none;
  text-decoration: none;
}

:root {
  --text: #000000;
  --background: #9d977b;
  --background-secondary: #2a3646;
  --background-primary: #131920;
  --primary: #f9a23f;
  --secondary: #f7a08d;
  --accent: #ff8fc8;
}


/* account settings page */


